header{
  background-color: white;
}
.end{
    padding-left: 60%;
}
.Nav_title{
    padding-top: 7%;
    color: black;
    text-decoration: none;
}
.Nav_title:hover{
    color:#fe8303;
    text-decoration: none;
}
.Button1:hover{
   background-color: #fe8303
}
.Button1{
    width:190%;
}
@media (max-width: 991px) {
    .end{
        padding-left: 10%;
    }
    .Button1{
        width:20%;
    }
    .Nav_title{
        padding-top: 1%;
        color: black;
    }
}
    
