#about-tab{
   text-align: center;
  padding-top: 5%;
}

.scholarship-winners {
  list-style-type: none;
  text-align: left;
}
.winnerName{
    font-size: 17px;
    color: black;
    font-weight: 540px;
}
.winnerFrom{
    font-size: 13px;
    font-weight: 20;
}
.row-centered{
    text-align: center;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom:2%;
}
.font-p{
    font-weight: 60;
}
